<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ad7dbe51-b5b9-416f-addd-31b6f97cd296/resourcegroups/hnrglinux/providers/Microsoft.Web/sites/hnapi</ResourceId>
    <ResourceGroup>hnrglinux</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://hnapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>add0d1f8-c21b-49b1-bf32-c58f5bb5f7d1</ProjectGuid>
    <PublishUrl>https://hnapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$hnapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>